div.todo-list-container {
  background-color: white;
  margin-top: 2rem;
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

div.todo-content {
  overflow: auto;
  height: 90%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

div.todo-content button.todo-item {
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.082);
  padding: 1rem 0;
  cursor: pointer;

  background-color: transparent;
  border: none;

  color: #3083dc;
}

div.todo-content button.todo-item-completed {
  text-decoration: line-through;
  color: #4e4187;
}

div.todo-footer {
  display: flex;
  justify-content: space-between;
}

div.todo-footer p {
  font-weight: 600;
  color: grey;
}

div.todo-footer a {
  font-weight: 600;
  color: grey;
  text-decoration: none;
}
