div.add-input-container {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
  display: flex;
  justify-content: space-between;

  width: 100%;
  /* max-width: 1440px; */
}

div.add-input-container input {
  border: none;
  width: 90%;
}

div.add-input-container input:focus {
  outline: none;
}

div.add-input-container button {
  border: none;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
  background-color: #7dde92;
  color: white;
  font-weight: 700;
}
